---
layout: default
---

<div class="about-col-wrapper">
  <div class="about-col about-col-1">

    {% if site.github_username %}
    <img class="user-picture" src="https://github.com/{{ site.github_username }}.png" alt="{{ site.author }}">
    {% endif %}

    <ul class="contact-list">
      {% if site.email %}
      <li>
        {% include _icons/email.html username=site.email %}
      </li>
      {% endif %}

      {% if site.curriculum.url %}
      <li>
        {% include _icons/file.html curriculum=site.curriculum %}
      </li>
      {% endif %}
    </ul>

    <ul class="contact-list">
      {% if site.author_website %}
      <li>
        {% include _icons/website.html url=site.author_website %}
      </li>
      {% endif %}
    </ul>

    {% include contactlist.html %}

  </div>
  <article class="about-col about-col-2" itemscope itemtype="http://schema.org/BlogPosting">

    <h1>{{ page.title }}</h1>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

  </article>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105586157-1', 'auto');
  ga('send', 'pageview');

</script>